body {
    background-color: whitesmoke;
    font-family: "Arial", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    margin: 40px 100px;
    padding: 10px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: black;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

a {
    text-decoration: none;
    min-width: 20px;
    padding: 5px 5px;
    margin: 10px 5px;
}

a:hover {
    font-weight: 600;
    box-shadow: 0 0 8px 3px rgb(224, 224, 224);
}

.new-post {
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
}

.post-list {
    list-style: none;
}

li {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

.edit-button {
    max-width: 80px;
    display: inline;
    max-height: 50px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
}

#btnform{
    display: inline;
}

.delete-button {
    font-size: 1rem;
    display: inline;
    background-color: #e74c3c;
    color: white;
    border:none;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px 4px;
}

.delete-button:hover {
    font-weight: 600;
    box-shadow: 0 0 8px 3px rgb(224, 224, 224);
}

small {
    display: block;
    margin-bottom: 20px;
    color: #888;
}

#edit-submit {
    background-color: #007bff;
    width: 100%;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 10px;
}
#edit-submit:hover{
    cursor: pointer;
    background-color: #007bffd4;
    font-weight: 600;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px 10px;
    padding: 10px 10px;
}

input,textarea{
    margin: 10px ;
}